<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <title>Amp It Up!</title>
    <meta
      name="description"
      content="Demo site to showcase HTMX as a lightweight frontend alternative."
    />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/favicon/apple-touch-icon.png'"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />

    <!-- htmx -->
    <script src="/static/js/htmx.min.js"></script>
  </head>

  <body class="bg-slate-900">
    {% block header %} {% include "/header.html" %} {% endblock %}

    <div id="content">{% block content %} {% endblock %}</div>

    {% block footer %} {% include "/footer.html" %} {% endblock %}
  </body>
</html>
