{% extends "base.html" %} {% block content %}
<section
  id="body"
  class="flex flex-col bg-slate-50 justify-center items-center max-w-screen-lg m-auto"
>
  <div class="flex flex-col justify-center items-center py-8">
    <h2 class="text-2xl leading-relaxed text-slate-800 uppercase">Welcome</h2>
    <div id="home-info" class="flex flex-col px-24 py-4">
      <p class="py-2">You are at the HOME of the site obsessed with <strong class="text-rose-500">POWER!</strong></p> 
      <p class="py-2 text-center">
      <a hx-get="/"
         hx-target="#featured-product"
         class="base-button">Next Product!</a>
      </p>
    </div> 
    {% block featured_product %}
      <div id="featured-product" class="flex flex-col justify-center content-center text-center">
      <img src="{{featured_product.src_path}}"/>
      <span class="py-4 uppercase font-bold">{{featured_product.name}}</span>
      </div>
    {% endblock %}
  </div>
</section>
{% endblock %}
